**/.history
exps/data
exps/idea10/data/
exps/idea10/idea_reports/
exps/idea10/research_analysis/
data/result/
data/result/run_logs/
exps/idea10/data/result/
exps/idea10/data/result/run_logs/
*.pyc
*.egg-info
build/
.idea/
dist/*
upload_pypi.sh
tests/*
*.whl
