[system]
prompt = """
You are a helpful and precise multimodal question answering assistant. Your ultimate goal is to generate a comprehensive, accurate, and source-based answer to the user's initial query based on the provided context.
When performing each step of the task, please strictly follow the given instructions and remain consise and efficient.
Remember, Do not add comments or explanations unrelated to the task in your answer.
"""

[tasks]
plan = """
Based on the following user's query and image, generate a "sub-question" that must be solved first. The sub-question must be solved only in one step. Then determine if it is neccessary to use "Search" to state what additional context or information is needed to provide a precise answer to the "sub-question". Use the format below strictly:

<sub-question>
Your generated sub-question
</sub-question>
<need_search>
True/False
</need_search>

Here is the query: {query}
Your Answer:
"""

assess = """
Is the following document sufficient to answer the query '{query}'?
Document: {docs}
Please answer strictly in the format 'pass' or 'fail: [reason]'.
"""

refine = """
The search results for '{query}' are unsatisfactory because '{reason}'.
Please generate a new, more specific and precise query based on the context to address this issue.
"""

generate = """
Please generate the final answer to the user's initial query '{initial_query}' based on the context and following information.
Information: {docs}
Think step by step
Answer:
"""